[2016-12-29 08:45] lfittl opened #1 "Make has_and_belongs_to_many relationships work when using Citus (include tenant_id)"
Currently a query that uses has_and_belongs_to_many (habtm) will not pull in the tenant_id for the habtm table itself.

This happens even if the table includes the tenant_id as an additional column, due to the Rails/ActiveRecord query builder not knowing that it needs to be included at all times.

We should be able to patch up ActiveRecord to include the tenant_id correctly:

* Variant 1) Include

[2016-12-31 03:59] lfittl opened #2 "Hide "Active Record does not support composite primary key." warnings in Rails 5.0"
When running the test suite under Rails 5.0+, or adding multi_tenant to a model, the following warning will show:

[code]

This is irrelevant, since we don't need Rails to support composite primary keys (in a way, this library adds it). It would be reasonable to hide this warning for tables that have `multi_tenant` defined.

[2016-12-31 04:00] lfittl opened #3 "Travis CI integration"
We should have automated tests for all the supported Rails versions.

[2017-02-22 02:54] #2 closed

[2017-02-22 02:55] lfittl commented on #3
Added by https://github.com/citusdata/activerecord-multi-tenant/commit/1055cb547e3b07a5d2f672f456f7dd698ac7f6a8

[2017-02-22 02:55] #3 closed

[2017-03-21 19:54] fastjames commented on #1
Is the only requirement that the model exist and point to the habtm table (and that the table have a tenant id column)? You don't have to promote it to a has_many :through relationship?

[2017-03-21 19:57] lfittl commented on #1
@fastjames If I'm remembering correctly, you will need to make an explicit model and then use `has_many :through` with the model, instead of `has_and_belongs_to_many`.

Typically that is a good change to make anyway, since habtm relations are a bit magic with Rails. That said, I'm still looking to fix this at some point, and PRs are of course welcome :)

[2017-03-23 20:11] fastjames commented on #1
I dug into acts_as_tenant a little and found this very old PR:
https://github.com/ErwinM/acts_as_tenant/pull/16

I assume that the tenant_id is useful here because you would want to shard the table in citus? I'm not sure what else it would be used for.

[2017-03-23 20:28] lfittl commented on #1
@fastjames Yeah - this issue specifically refers to making it compatible with Citus and being able to distribute the habtm linking table (i.e. including the tenant_id always, and adding it on the table as well).

Outside Citus you should be fine to use `has_and_belongs_to_many`. I'll update the issue title to reflect this :)

[2017-04-23 06:54] elct9620 commented on #2
Hi, I have problem about this.

When I run `rake db:seed` to generate some test data, I notice below code cannot run correctly.

I got this error `NoMethodError: undefined method `-' for "id":String`

And I add `--trace` to find the reason, I notice below code cause this problem.

[code]

It seems the rails `primary_keys` didn't return Array, but return String.
(My rails version is 5.0.2)

http://

[2017-04-24 23:46] lfittl commented on #2
@elct9620 Thanks for the hint, I'll include a fix for this in the next release.

[2017-04-24 23:58] lfittl opened #7 "Include original call-site in QueryMonitor"
The next release is going to add a query monitor feature that hints you at queries that might be missing the tenant_id filter because there is no wrapping MultiTenant.with(..) block:

https://github.com/citusdata/activerecord-multi-tenant/commit/b048e43b07795d8643d6d65a7063986e6b2dadf2

It might be worthwhile to include the original call site, as proposed for Rails' own statement logging here: htt

[2017-05-01 18:46] mzaragoza opened #9 "prevent certain sub-domains from created by the user?"
is it posible to prevent certain sub-domains from created by the user?

Thanks

[2017-05-02 10:18] lfittl commented on #9
Hi @mzaragoza - can you clarify your question?

The gem doesn't currently include any specific logic for handling subdomains. You might be thinking of https://github.com/ErwinM/acts_as_tenant which has explicit support for subdomains.

[2017-05-20 01:26] ac21 opened #10 "Not able to load Gem in Rails 5.0 or Rails 5.1"
I am having trouble configuring this gem to work in Rails 5.0 or 5.1.

basic tests are:
1. install Rails 5.x
1. create new Rails project `rails new test_proj`
1. update gemfile to include `gem 'activerecord-multi-tenant', '0.5.0'`
1. `rails c`  (also get the same error with `bundle exec rails c`
1. The following error is generated:
[code]

I'm probably just missing a step, but not clear what is is

[2017-05-20 05:29] lfittl commented on #10
@ac21 Thanks for the report - looking into this.

[2017-06-06 23:00] kwbock opened #12 "MultiTenant affects automatic_inverse_of on associations"
The following scenario will fail. When using `belongs_to` the association tries to automatically build the inverse_of, something about the way that `belongs_to` is defined in MultiTenant seems to affect this automatic building process.
[code]

[code]

This may affect other association types but the workaround currently if relying on this behavior is to do the following
[code]

[2017-06-09 21:51] lfittl commented on #12
@kwbock Thanks again for the report :)

The test case you provided confuses me a bit - in particular this line:

[code]

Any chance you could provide a PR against the repo that has a failing test case?

That'd make it easiest for me to dig into the issue at hand. Appreciate it!

[2017-06-10 02:17] lfittl commented on #10
@ac21 This should be resolved with release 0.6.0. Can you confirm this works for you?

[2017-07-03 15:28] kwbock commented on #12
@lfittl I updated the test case. It involves tweaking the ActiveRecord classes in `schema.rb`. Basically something has happened with something in the `belongs_to` code that prevents active record from automatically detecting the inverse relationship. Let me know if you need anymore information.

[2017-07-17 17:33] lfittl commented on #10
Closing this issue due to inactivity

[2017-07-17 17:33] #10 closed

[2017-07-18 22:57] lfittl commented on #12
This has been fixed in 0.7.0 via #15

[2017-07-18 22:57] #12 closed

[2017-08-03 12:13] AlexVPopov opened #21 "Automate the Citus setup by enhancing the Rails rake tasks"
So currently, in order for Citus to work, one needs to do the following steps:

* install the Citus package;
* create n Postgres clusters (1 coordinator + (n-1) workers);
* tell each cluster about Citus by adding `"shared_preload_libraries = 'citus'"` to its respective `postgresql.conf`
* create the extension in each cluster;
* tell the coordinator about the workers.

So basically, I've described

[2017-08-03 16:29] lfittl commented on #21
@AlexVPopov I like the idea of enhancing the gem a bit to support this better.

My only ask for this would be that we make sure the Docker-based approach (i.e. by using a docker-compose.yml as in https://github.com/citusdata/citus-example-ad-analytics/blob/master/docker-compose.yml) still works fine - i.e. in this case we should make sure to use `CREATE EXTENSION IF NOT EXISTS citus` to not error

[2017-08-03 20:05] AlexVPopov commented on #21
Hey, @lfittl, today I spoke with @ozgune in Slack and he explained to me why you've moved to supporting primarily Docker and stopped supporting OS X. My main concern for wanting to be able to install locally on OS X, was to be able to persist modifications to the database, in case I migrate it and insert data. But, on a second thought, in a well prepared Rails project, one should always be able to

[2017-08-03 20:08] lfittl commented on #21
@AlexVPopov That makes sense, and thanks for working through that!

One issue with the Docker-based approach right now is that we don't clearly separate test and development databases (i.e. the Docker setup only initializes one databases, but for Rails you typically want two), so what you were talking about here could be interesting nonetheless.

Let me know how it goes :)

[2017-08-08 12:57] AlexVPopov commented on #21
Hey, @lfittl, so I summarized the steps I need in order to properly setup Citus in development and for tests:

* Have postgres clusters running on two machines - citus_master and citus_worker_1 with Docker;
* Created the databases app_development and app_test on both clusters:
    * On master via `rake db:create`;
    * On worker - manually via createdb for each of the two databases;
        * `do

[2017-08-08 13:09] AlexVPopov opened #23 "Documentation"
Where should one contribute documentation to? I mean - directly to the readme or is there some specific place for the documentation?

[2017-08-08 17:20] webandtech commented on #21
We have found it is easy to solve the configuration with a somewhat modified docker configuration. The Postgres docker image supports adding scripts to a `docker-entrypoint-initdb.d` directory which will be run when the database is initialized. We use this to create test databases on all workers. This approach also injects the pg_worker_list.conf instead of using citusdata/workerlist-gen, which we

[2017-08-08 21:39] lfittl commented on #23
@AlexVPopov Depends a bit - for Citus-specific documentation there is the https://github.com/citusdata/citus_docs repository which would work better. Note that we have some internal process for tracking documentation work thats not visible there, so might be best to inform us first on what you'd want to improve.

For the gem itself the README is the only place for documentation right now - feel fr

[2017-08-08 21:42] AlexVPopov commented on #23
O.K., thank you :)

[2017-08-08 21:42] #23 closed

[2017-09-28 20:41] glarrai1 opened #29 "Model.find not using correct Tenant, when logging with a new one"
When i change a devise logged user that belongs from a tenant (user1.customer_id => 1) to another user of another tenant (user2.customer_id => 2), the query made from the Model.find method is confused and still uses the other tenant id.

Instead, for the index action, the Model.all works fine.

But more strange, is that if i restart the rails server and try again, then it works correctly.

(OBS: I

[2017-09-28 20:46] lfittl commented on #29
@glarrai1 Thanks for opening this issue!

Are you using the latest released version of the library? (there were issues with caching in previous versions)

Also, which Rails version are you on? Thanks!

[2017-09-28 21:05] glarrai1 commented on #29
Hi, thanks you for helping!

I'm using:

Rails 5.1.2
activerecord-multi-tenant (0.7.0)

And by the way, i'm using Postman to try the endpoints. And for Devise JWT strategy.

[2017-10-02 21:46] glarrai1 commented on #29
@lfittl any idea? Thanks!

[2017-10-02 21:48] lfittl commented on #29
@glarrai1 Can you try upgrading to 0.8.0? That should resolve these issues

[2017-10-03 14:42] glarrai1 commented on #29
@lfittl I did de upgrade; but the bug is still happening ... any other clue?

[2017-10-04 14:42] glarrai1 commented on #29
@lfittl Should i try the referd gem: https://github.com/ErwinM/acts_as_tenant , or must hace the same problem?

[2017-10-04 18:56] lfittl commented on #29
@glarrai1 That gem works very different, since we branched off some time ago, but feel free to give it a try.

It doesn't make much sense to me why you are seeing the issues you describe above, sadly enough.

If you want to investigate yourself more closely as to whats going on, you can add some debug output into the query rewriter here: https://github.com/citusdata/activerecord-multi-tenant/blob/

[2017-10-04 20:56] glarrai1 commented on #29
@lfittl

Ok, so i did add this logger on the method to debug (as you can see on the code at the bottom):

"In particular it would be interesting if the rewriter gets called at all for the second time the find happens?"
--> NO, this is not happening!
It's being call only the first time, then never more, so it seems that it just uses the previously cached version (including the tenant_id) [only when

[2017-10-05 16:24] glarrai1 commented on #29
@lfittl

By now, i decide to patch the bug not using the FIND method.
Instead, the WHERE method does it right:

@user = User.where(id: params[:id]).first

If on the future you improve the bug, let me now, thanks!

[2017-10-11 09:01] kolo commented on #29
Hi,

we have same issue in the application. What I found is that ActiveRecord uses cached version of the query. Query contains id of previous tenant if you have changed tenant between calls of `find` or `find_by`.

Method which is responsible for caching is [`ActiveRecord::Core#cached_find_by_statement`](https://github.com/rails/rails/blob/4bd212f9281771e71645ed2113d1fb56c1ca5815/activerecord/lib/

[2017-10-13 20:54] lfittl commented on #29
@kolo I do think its possible to fix these, but it requires time to investigate, so might have to wait a little bit (likely anywhere between 3-6 weeks) in terms of availability on my end.

Feel free to dive into the code yourself. The first step would be to get a reproducible test case into the test suite, so we can work against that.

[2017-11-17 14:35] askn commented on #29
Hi, are there any update this? We have same(find/find_by) issue

[2017-12-04 14:20] tgezginis commented on #29
Hey, are there any updates for this issue?

[2017-12-04 17:25] lfittl commented on #29
@tgezginis @askn No update since I haven't had time to look into this, unfortunately.

Help is welcome though, most of the work in the query rewriter (https://github.com/citusdata/activerecord-multi-tenant/blob/master/lib/activerecord-multi-tenant/query_rewriter.rb) has been contributed by other community members like you :)

[2018-01-03 16:14] chbonser opened #33 "class variable is not defined if first model referenced is not multi tenant"
I see this is resolved in master (commit bf97bf5e2eb97c4f4a37817e2953df66a8a52367). Could a new release be published?

[2018-01-03 17:07] lfittl commented on #33
@chbonser Good point - I'll see that I find sometime to publish a new release this week.

[2018-02-07 00:02] stevenjonescgm opened #34 "after_initialize issue with partial arel `select`"
a ActiveModel::MissingAttributeError is raised in the model_extensions.rb `after_initialize` block if the `partition_key` is not included in the custom select

was
[code]

This can be fixed by:
1) editing app code to include partition_key in the select
2) checking that the partition_key is loaded before the public_send, eg
[code]
(this ought to work for cases of partition_key-not-being-a-column, s

[2018-02-07 00:39] lfittl commented on #34
@stevenjonescgm I think a PR for option 2 would be great - thanks for finding & working on this!

[2018-02-07 01:16] stevenjonescgm commented on #34
hmm, unfortunately this change is insufficient as once `write_attribute` is called, `changes` is then `{"account_id"=>[#<Object:0x00007f81fe9609d8>, 1]}` I don't yet know where that generic object is coming from, though it seems to be a change from Rails 4.2 to Rails 5

I may just cache the previous value in a local variable for the nil check if I don't track down that anonymous Object

also btw y

[2018-02-07 20:13] stevenjonescgm commented on #34
hah, 17 days ago Rails 5-2-stable (and Rails 6) merged https://github.com/rails/rails/pull/31698
I modified my environment to test 5.2.0.rc1 and saw the same behaviors (on MRI 2.4.2) despite the refactor.

[2018-05-14 18:28] jwilsjustin commented on #29
For those following, it's worth looking at @Aquai's work here: https://github.com/citusdata/activerecord-multi-tenant/pull/37

Thanks @Aquai!

[2018-08-06 18:43] DaveWhitmer opened #43 "Referential Integrity causes foreign key errors with creation of fixtures"
Adding the gem caused my test suite to fail due to foreign key index violations with fixture creations.
Simple fix is just to change referential_integrity.rb to:
[code]
Not sure if there are any unintended consequences...

[2018-08-06 19:36] lfittl commented on #43
@DaveWhitmer Hmm - that issue should be fixed though, so this shouldn't be necessary anymore.

Which Citus version are you testing against?

[2018-08-06 19:43] DaveWhitmer commented on #43
Should be 7.5, but have not even gotten to that stage.  Simply installed the gem in preparation for the move to Citus and my test suite started failing as described above.  Remove the gem and the test suite passes.  Dug into it and found that it was the fixture creation with the referential integrity as described above.  Forked the gem added that monkey patch to it and everything passed.

[2018-08-07 17:04] DaveWhitmer commented on #43
Yes.  Commenting out the entirety of the referential_integrity.rb file causes my local test environment to pass as I would expect.

[2018-08-23 15:46] tabishiqbal commented on #29
Also, to add if someone is using friendlyID they can then do something similar which doesn't keep the previous account in cache and works with slugs.
[code]

[2018-09-04 15:56] hypoactiv commented on #29
Hello, we've hit this issue as well and have switched to acts_as_tenant as a workaround.

Would you consider adding a warning in the readme with a link to this issue until it is fixed? This bug is quite severe and should probably prevent anyone from using this in production until it is fixed. It resulted in tenant data being mixed in a response from our backend, thankfully caught in testing.

Than

[2018-09-25 00:36] jaxn opened #44 "Add `MultiTenant.without` to disable tenants for a block"
Something like this would override the `current_tenant` for a block to for cross-tenant queries on an as-needed basis.

[code]

This would enable something like:
[code]

Happy to submit a tested pull-request if the maintainers are interested.

[2018-09-28 00:58] lfittl commented on #44
This has been merged - thanks for the contribution!

[2018-09-28 00:58] #44 closed

[2018-09-28 01:00] lfittl commented on #29
A fix for this has been merged into master (https://github.com/citusdata/activerecord-multi-tenant/commit/2faa4fa4124b2741c7f26ca7ab866c673ec74f2f) and needs testing.

For those of you who currently have activerecord-multi-tenant integrated and experienced this issue, could you run a test of the current master?

I'm planning to make a new release in the next few days, thanks everyone for the patie

[2018-10-13 05:02] krsyoung commented on #29
I believe I am hitting the same issue (which has just become apparent due to there actually being multiple tenants interleaved on my service).

I've pulled from master and it looks to have corrected the issue.  I'll try to be a little more scientific about my testing tomorrow and confirm.  Thanks for the fix @lfittl

Would be good to hear from others.

[2018-10-13 13:16] krsyoung commented on #29
So for the record, the patch in master is working very well for me!  I'm running a Rails 5.2.1 application.

Here is the issue before pulling from master (for anybody else trying to identify it):

[code]

In the chrome request it has cached the `"organization_id" = 3` from the previous request.  When debugging, `current_organization` is correctly showing 3, and any queries with `where` are also wo

[2018-10-15 15:15] lfittl commented on #29
@krsyoung Excellent, thanks for the confirmation!

Barring any other issues, looking into making a release this week.

[2018-10-19 15:26] perezperret opened #48 "Using tenant in inserts?"
I can't get the tenant to be added to inserted records, is this expected behavior? If so, do you have plans to support this?

[2018-10-23 04:01] lfittl commented on #48
@perezperret Thats certainly not expected behavior - inserted records should be taking the currently configured `MultiTenant.current_tenant`

Do you have an example of what exactly is failing?

[2019-02-21 19:39] lumir opened #52 "switch tenants for existing records"
Hi, wonderfull gem, but I'm not being able to find more doc information, is there a way to switch the associated tenant for an specific record?, I'm always getting `MultiTenant::TenantIsImmutable: MultiTenant::TenantIsImmutable`.

Thanks for the help.

[2019-02-26 03:28] lfittl commented on #52
@lumir By switching I assume you mean changing the tenant for an existing record that was created?

That is currently not supported. What is the use case you have for this feature?

[2019-02-26 14:37] lumir commented on #52
hi @lfittl correct, the use case is transfer a user from a region to another one, I made it works using `user.update_column(:region_id, region.id)`but I'm not sure if the gem have a method for it.

[2019-03-12 14:16] #43 closed

[2019-03-20 14:27] sb8244 opened #54 "Accessing the association loaded status causes the association to actually load"
This is a bit of a strange one for Rails 4.2. It looks fixed in 5.2 so I understand if the support isn't provided for it.

AR MT checks if the association is loaded (https://github.com/citusdata/activerecord-multi-tenant/blob/master/lib/activerecord-multi-tenant/model_extensions.rb#L74) and a few other items before returning the current_tenant. This should pretty much always be false (loaded?) if

[2019-03-21 20:43] lfittl commented on #54
@sb8244 I think I've seen this before, tried to debug it, and wasn't able to resolve it at my (quick) attempt.

Are you interested / available to make a patch for this? (PR would be welcome)

[2019-04-02 14:27] sb8244 commented on #54
Sorry to go dark here.

I looked into it and there's no public methods in 4.2 to get access to what's needed here. Private messages could be sent, but that seems bad.

Given that this is fixed in > 4.2 and 4.2 is about to have support dropped, I'm inclined to just say that it will be okay

[2019-05-06 07:29] victorhazbun opened #56 "Heroku instructions"
Is the Heroku citus add on a dependency for Heroku apps?

Any instructions regarding Heroku deployments are welcome.

Thanks.

[2019-05-06 15:39] lfittl commented on #56
@victorhazbun Not sure I understand correctly - this library does not require Citus to be used.

If you are using Citus this helps you scope the queries correctly (so they are single-shard instead of cross-shard), but it doesn't require any special configuration for that, besides having Citus itself be available, e.g. through the Heroku Add-On.

[2019-05-30 01:49] wadetandy commented on #29
@lfittl Looks like this still hasn't been released?  This is a major blocker for continued work on our application if we are going to continue relying on this gem.

[2019-05-30 01:51] lfittl commented on #29
@wadetandy Thanks for the feedback - you are correct that this hasn't been released yet - but there is no reason not to make a release now.

Just to confirm, the branch is working well for you I assume?

[2019-05-30 02:05] wadetandy commented on #29
Yes, just verified the master fixes all the issue as a temporary way to unblock this!

[2019-05-31 17:16] lfittl commented on #29
@wadetandy Version 0.10.0 has been released now - thanks for your patience!

[2019-05-31 17:17] lfittl commented on #29
I believe this issue is resolved now, in my understanding. Please re-open if you think this is still an issue in the last released version (0.10.0).

[2019-05-31 17:17] #29 closed

[2019-06-18 06:54] victorhazbun commented on #56
thanks for the clarification @lfittl

[2019-06-18 15:21] #56 closed

[2019-07-18 13:54] #54 closed

[2019-10-11 03:19] abernard opened #68 "Allow overriding primary key columns/ordering in ActiveRecord migrations"
We currently are using version 1.0.2 with Postgres partitioned tables and have had to ([re-)monkey patch the pkey generation](https://github.com/citusdata/activerecord-multi-tenant/blob/3aa7322974917b8f1b992c7024e2f77b9a80fe41/lib/activerecord-multi-tenant/migrations.rb#L50) for it to work.

Our shard key is `user_id` ("partition_key" in the ActiveRecord code) and the Postgres partition key is `ti

[2019-11-18 13:46] #68 closed

[2019-12-03 21:09] aximuseng opened #72 "Compatibility with ActiveAdmin?"
Anyone managed to get this to work with ActiveAdmin.  It seems that with AA you can only access the records that your normal user was last logged in under (i.e. AR is still scoping the DB calls with the last tenant).  I know there is the `MultiTenant.without do` but it's not clear you can integrate that with AA.

I thought about adding a `current_user.admin_user?` to the model tenant definition bu

[2019-12-09 20:55] joshforbes opened #73 "Deprecation warning Rails 6.0?"
After installing this gem on a Rails 6 application I get a deprecation warning when running my rspec test suite:

[code]

Not sure what this warning has to do with this gem but if I remove the gem it goes away. Any thoughts?

[2019-12-14 23:13] jasper502 opened #74 "Access Tenant Globally? (i.e. in models etc.)"
Is there no way to access the current tenant in models etc?  Apartment could do this easy.

[2019-12-16 14:44] joshforbes commented on #74
`MultiTenant.current_tenant` should be globally available once it has been set.

[2019-12-16 16:29] aximuseng commented on #74
In my models it always returns nil

[2019-12-26 09:14] TSUDA-Kyosuke opened #76 "Update with string argument cause error"
Hi. Thank you for nice gem.

We are using activerecord-multi-tenant with mysql.

AbstractMysqlAdapter executes some commands by update method with string argument.

ex:  disable_referential_integrity
[code]

With rails 5.2 or higher, acitiverecord-multi-tenant wrapping up update method and it looks not to expect called with string argument but just arel objects. Raise expection "undefined method `

[2020-01-03 18:29] aximuseng commented on #74
I believe this just be an issue with the console and / or the better_errors gem.  The trouble is there seems to be no way to debug while using the tenant scope.

For example the web console:

[code]

and the rails console...

[code]

[2020-01-03 22:49] aximuseng commented on #74
Ahhh...

[code]
works in the console - not in the better_errors web console

[2020-01-04 04:14] aximuseng opened #77 "Sidekiq Documentation"
Can one detail how you run Sidekiq jobs with AMT?

Digging through the code I found this:

https://github.com/citusdata/activerecord-multi-tenant/blob/c4747ade6e51259b1915f3984bea1e9ea3fc1fc4/lib/activerecord-multi-tenant/sidekiq.rb

which seem to mirror the acts_as_tenant code which is just as vague on how to actually implement this.

I tried this adding `require 'activerecord-multi-tenant/sideki

[2020-01-21 13:57] louiseGrandjonc commented on #74
Hi @aximuseng,
in the better_errors web console, does it work if you use the `with` block?
[code]

[2020-01-21 16:07] louiseGrandjonc commented on #73
Hi @joshforbes,

it looks really similar to this: https://github.com/JangoSteve/remotipart/pull/206

I tried to reproduce but couldn't. I will look into it further and get back to you.

[2020-01-22 09:40] louiseGrandjonc commented on #76
Hi @TSUDA-Kyosuke,

thank you for raising this issue. For now activerecord-multi-tenant is meant to work with PostgreSQL (and its extension citus to turn postgres into a distributed database).
Working on compatibility with MySQL is something that needs to be discussed and prioritized in our roadmap and I can't commit to releasing the fix for this. However if you're opened to contributing, we would

[2020-01-28 05:41] lfittl-msft commented on #77
@aximuseng This is intended to be transparent to the application - so you shouldn't need to do anything besides including the `sidekiq.rb` file in the initializer (as you've done).

With that included, any job that gets enqueued from within a `MultiTenant.with` block will get the `multi_tenant` key added to its workload (its not one of the worker arguments, FWIW), and then that key will be read wh

[2020-01-28 07:02] aximuseng commented on #77
Ok - that helps understand how that works. I will give that a shot.  Thanks 👍

[2020-01-28 07:02] #77 closed

[2020-01-29 13:52] #48 closed

[2020-02-17 15:39] h0jeZvgoxFepBQ2C commented on #1
I just tried to make some hbtm relations, and it seems that even without citus the tenant_id is not set - even when the column exists?

Should this work?

[2020-02-23 05:05] aert commented on #73
Hey @louiseGrandjonc, adding `manifest.js` as suggested in the `remotipart` issue didn't solve the warnings on my side, but I found a commit on the parent repo that handled the warnings.

Hopefully the PR will solve the issue.

[2020-03-18 14:14] #73 closed

[2020-04-29 13:33] joshforbes opened #85 "Validate uniqueness globally?"
Hello 👋

I'm running into an issue with uniqueness validation. In this case, I want to make sure that something is unique across all tenants. But when the current tenant is set the validation rule only checks if the attribute is unique for that tenant. It works fine when no tenant is set. But the tenant will be set when a record is created during a request.
Here is an example:

This test passes:
!

[2020-05-19 14:28] mwesigwa opened #86 "ActiveRecord 6.1 removes `DepthFirst` visitor"
Upcoming Raiils version 6.1 drops `Arel::DepthFirst`visitor. This means applications using Rails > 6.0 crash on startup. The relevant PR is here: https://github.com/rails/rails/pull/36492

[2020-05-23 11:12] f440 opened #87 "NoMethodError: undefined method `relation`"
ActiveRecord (>=6.0.3) and AR::MultiTenant cause "NoMethodError: undefined method `relation`" when joining the multitenant tables and ActiveStorage tables.

The error has been occured since https://github.com/rails/rails/pull/38929 is merged.

### Steps to reproduce the issue:

- Save this code to `app.rb`:

[code]

- Compare the results of theese two runs:
  - `RAILS_VERSION=6.0.2.2 ruby app.rb`

[2020-05-24 21:12] Laykou commented on #1
Is the HABTM supported now? If we add `tenant_id` to the many-to-many join table, will it automatically also shared correctly with the rest of the data?

Is the `tenant_id` column handled automatically now for HABTM?

[2020-05-26 14:38] louiseGrandjonc commented on #85
Hi @joshforbes !

Just out of curiosity, what database are you using? activerecord-multi-tenant is mainly written to work with citus, an extension to postgres. In citus, unique constraints need to include the tenant. Which is why, when developing this project we did not include an option to have a unicity across tenant and we always add the tenant key.

If it's a feature you would be interested in

[2020-05-26 14:49] louiseGrandjonc commented on #87
Hi,

Thanks for raising this issue. This should fix it :) : https://github.com/citusdata/activerecord-multi-tenant/pull/88

[2020-05-27 06:41] Laykou opened #92 "Ruby 2.7 - Last argument as keyword parameters is deprecated"
When upgpraded to Ruby 2.7 there is some new syntax to be adopted:

[code]

[2020-06-30 21:17] Laykou commented on #92
@louiseGrandjonc Could you please help here?

[2020-07-07 22:00] Laykou commented on #92
@louiseGrandjonc Any idea how to resolve this, please?

[2020-08-05 04:59] fabianprado commented on #92
Same problem here

[2020-08-06 10:44] louiseGrandjonc commented on #92
Hi, sorry for the delay, I will look into this issue this week.

[2020-08-06 13:38] #92 closed

[2020-08-06 13:40] louiseGrandjonc commented on #87
Hi,

The PR https://github.com/citusdata/activerecord-multi-tenant/pull/98 was merged and contains fixes for this and clears warning for rails 2.7.

A new version will be released soon.

[2020-08-06 13:41] #87 closed

[2020-08-06 13:51] #52 closed

[2020-08-06 14:26] louiseGrandjonc commented on #92
Hi @fabianprado , @Laykou,

the version `1.1.0` has the fix for this one.

[2020-08-12 05:38] serch opened #100 "Issue when having multiple databases with tables with the same name."
There is an issue when having multiple databases with tables with the same name.

The case I experienced is the following: I have 2 databases, the main postgres database that uses the citus extension, and a smaller sqlite db. There are some tables in both databases that have the same name.

I set up Active Record 6 to work with both databases and I use the multi-tenant extension in the main db. Wh

[2020-09-04 12:58] heldopslippers commented on #1
is still an issue? Anybody has a workaround for this?

[2020-11-13 05:22] TSUDA-Kyosuke commented on #76
Thank you, and sorry for the late reply.
I think this issue is solved by https://github.com/citusdata/activerecord-multi-tenant/pull/97 .

[2020-11-13 05:22] #76 closed

[2020-12-02 23:19] stevenjonescgm opened #104 "Adding a tenant to a record persisted with tenant nil"
I have a case where I persist a record of request input (email processing) before evaluating which tenant it should be assigned to.

When trying to add a tenant id later, persistence silently fails due to
https://github.com/citusdata/activerecord-multi-tenant/blob/4512aeeb72504d401f4ed3a869039ee075a2208e/lib/activerecord-multi-tenant/query_rewriter.rb#L227-L233

seeing `MultiTenant.with_write_only

[2020-12-04 08:09] serch opened #105 "Multi-tenant class not found if defined inside a module"
The following code works as expected and the call to `multi_tenant :tenant` automatically calls `belongs_to :tenant` and defines both `tenant` and `tenant=` methods.

[code]

However, if both classes are inside a module

[code]

the `multi_tenant :tenant` call does not automatically call `belongs_to :tenant` or define `tenant` and `tenant=` methods.
This is due to the implementation of `tenant_kla

[2020-12-10 19:27] dstevens-he commented on #86
Is there any update on this issue? With the official release of 6.1.0 here, it'd be great to update!

[2020-12-10 19:50] louiseGrandjonc commented on #86
@samay-sharma is there someone that can take a look at this?

[2020-12-11 18:23] ihor-chepurnyi opened #106 "NameError: uninitialized constant Arel::Visitors::DepthFirst"
Got this error `NameError: uninitialized constant Arel::Visitors::DepthFirst` when updated to Rails 6.1, using the following version - `gem "activerecord-multi-tenant", "~> 1.1"`

[2020-12-15 10:05] hamza-costiq opened #107 "Puma Multi thread support"
Do this gem supports Multi threaded servers like puma ?

[2020-12-29 09:07] Laykou commented on #106
This looks like a duplicate to https://github.com/citusdata/activerecord-multi-tenant/issues/86

[2020-12-29 09:09] Laykou commented on #86
@louiseGrandjonc Do you think you could help here please? There is a need to support also latest Rails 6.1 which has removed `Arel::DepthFirst` class. Do you have any idea how this should be handled in the multi-tenant gem, please?

[2020-12-29 18:51] louiseGrandjonc commented on #86
Hi @Laykou, I don't work at citus anymore, @lfittl, @samay-sharma or @saicitus should be able to find someone to help with that issue. I can review any patch done, but I unfortunately don't have time to actively work on it.

[2021-01-17 14:09] Laykou commented on #106
This seems to be resolved now

[2021-01-17 14:10] Laykou commented on #86
This seems to be resolved now

[2021-01-17 14:12] Laykou opened #111 "Wrong SQL syntax LEFT JOIN with ActiveStorage (syntax error at or near "AND") - Rails 6.1.1"
Ruby 3.0.0
Rails 6.1.1

Having MultiTenant with ActiveStorage

[code]

Then when I run

[code]

The SQL looks like

[code]

as you can see the condition in LEFT JOIN starts with `ON AND` which should not be there and throws:

[code]

[2021-02-10 03:40] fakiyer commented on #111
It also happens in STI

* rails (6.1.1)
* activerecord-multi-tenant (1.1.1)

[code]

[code]

[code]

[code]
[code]

[2021-02-11 10:20] serch commented on #111
I ran into the same problem when trying to join two tables and one model was using a default_scope. I submitted a PR https://github.com/citusdata/activerecord-multi-tenant/pull/113 which may also fix this issue.

[2021-02-17 12:58] Laykou commented on #111
This fix looks great. I hope for a soon merging :)

[2021-10-09 02:26] mattathompson opened #122 "ActiveRecord::ConnectionAdapters::Column no longer supports 'type_cast_for_database'"
Hello!

When upgrading a Rails project from rails 4 to rails 5 I noticed this functionality no longer works. When I investigated further I found that this method `type_cast_for_database` no longer exists for ActiveRecord::ConnectionAdapters::Column.

The rails change that made this break: https://github.com/rails/rails/commit/b93b39eff6829ee05ffec1cc8c505f69cbb53fdc#diff-de807ece2205a84c0e3de66b0e

[2021-11-10 17:06] Laykou opened #125 "Use CurrentAttribute instead of RequestStore"
It has built-in support in Rails and also with Sidekiq and ActiveJob

[2022-02-23 07:44] Laykou commented on #125
@serprex What do you think? :)

[2022-02-24 12:06] serprex commented on #125
I don't actually have much experience with the Ruby ecosystem, from what I gather CurrentAttribute is a RequestStore alternative in ActiveSupport? Would such a PR be backwards compatible? Otherwise would have to be slated for a 2.0 release

[2022-02-24 14:58] serprex commented on #111
Fixed in #132 (a rebased #113)

[2022-02-24 14:58] #111 closed

[2022-02-24 15:00] serprex commented on #86
Going to trust @Laykou on this, if someone runs into this again please open another issue

[2022-02-24 15:00] #86 closed

[2022-02-24 15:02] serprex commented on #85
wontfix

[2022-02-24 15:02] #85 closed

[2022-02-24 15:04] #33 closed, assigned to nobody

[2022-02-26 14:39] #122 closed

[2022-03-25 05:49] wata727 opened #140 "New release?"
The current version v1.1.1 was released on 16 Jan 2021. v1.1.1 does not include support for Rails 6.1 or later https://github.com/citusdata/activerecord-multi-tenant/pull/132 https://github.com/citusdata/activerecord-multi-tenant/pull/126
Do you have any plan to release a new version?

[2022-03-25 12:13] lzmak-work opened #141 "Conflict with ActiveRecord.table_name - multi_tennat_id not included in query"
When adding multi tenant to a model, and specifying table_name on same model it seems that the order of commands matter.

Here is and example of code in question, I can't share the real code (but can try to create a minimal reproduction if needed):
1. without tennat id in query
[code]
- Produced query does not have account_id
[code]

2. with tennat id in query
[code]
- Produced query contains acco

[2022-03-25 13:58] serprex commented on #141
What version of Rails are you using?

[2022-03-25 14:01] serprex commented on #140
@hanefi @gurkanindibay do you know how a new release is made? Is there some pipeline somewhere that'll be triggered by tagging latest commit `v1.2.0`?

[2022-03-25 14:02] lzmak-work commented on #141
Rails 6.1.3.2
ruby 2.7.5p203 (2021-11-24 revision f69aeb8314) [x86_64-linux]

[2022-03-25 14:06] serprex commented on #141
This may be fixed with a new release, since #140 mentions 6.1 fixes

Have you tried using the latest commit of this repo instead of `1.1.1`?

[2022-03-25 14:09] hanefi commented on #140
I do not think that we have such a mechanism in place.

I guess we should trigger something  on ruby gems website.

It looks like @louiseGrandjonc and @lfittl are the owners of this gem there. Maybe we should ask one of them to add you as an owner as well.
https://rubygems.org/gems/activerecord-multi-tenant/versions/1.1.1

[2022-03-25 14:13] lzmak-work commented on #141
Heh, thanks did no see it before, is seems there is already and PR addressing this #128 (Fixed bug when changing table_name after calling multi_tenant.)
- seems like the same issue

[2022-03-29 03:34] lfittl commented on #140
@hanefi @serprex Can you send me a quick email from your Microsoft email to my personal email (lukas@fittl.com), with your Rubygems usernames?

Happy to grant access, since Microsoft / Citus Data are the owners of this project, and the fact that I have push access for the Rubygems is mostly a historic artifact.

[2022-03-29 19:20] serprex commented on #140
Created PR #142, will figure out pushing update to rubygems after it merges

[2022-03-29 19:22] serprex commented on #105
Both solutions could work. Update search order, & add optional `class_name` parameter

[2022-03-29 19:23] #9 closed

[2022-03-29 19:28] #74 closed

[2022-03-30 17:37] mlarraz commented on #140
I would recommend creating a shared RubyGems account for your org, storing that token as a secret on Github, then using Github Actions to publish when a new release is created. See https://github.com/instacart/makara/blob/master/.github/workflows/gem-publish-public.yml for an example

[2022-04-11 12:27] serprex commented on #140
https://rubygems.org/gems/activerecord-multi-tenant/versions/1.2.0

[2022-04-11 12:27] #140 closed

[2022-04-11 12:56] #125 closed

[2022-04-11 12:56] #141 closed

[2022-05-18 12:25] shayonj opened #146 "Support belongs_to optional: true for easier rollouts for existing models"
Rails 5+ supports `belongs_to :model, optional: true`, where the presence of the relation is optional. Having this as part of roll out  on existing models is nice, since you can add the new association and `multi_tenant` definition on existing models without having to re-write most code paths in one go, but spread them out in smaller changes. Then, once the migration is complete, you can remove th

[2022-05-18 12:27] serprex commented on #146
Are you suggesting that line change to

[code]
?

[2022-05-18 12:48] shayonj commented on #146
Yep, exactly! I tested this change and works great and is how we are able to unblock. Have a PR coming up shortly with a spec.

[2022-05-19 12:34] shayonj commented on #146
PR up at: https://github.com/citusdata/activerecord-multi-tenant/pull/147

[2022-05-19 23:36] #146 closed

[2022-05-19 23:37] shayonj commented on #146
Thanks @serprex ! any idea when can we expect a new version cut?

[2022-05-19 23:56] serprex commented on #146
@shayonj 2.0.0 has been published

[2022-07-11 16:43] danielnc opened #149 "RSpec Validations - Failing due to MultiTenant::TenantIsImmutable:"
I've just recently started to use activerecord-multi-tenant, and for my test suite, without the gem, the following code works as expected

[code]

Once I introduce the gem, I am getting the following errors for my tests:

[code]

I am not sure what I am missing, or what is the correct path to fix this failure

Help is greatly appreciated

[2022-07-11 20:40] serprex commented on #149
https://github.com/citusdata/activerecord-multi-tenant/blob/bcf93ec98a3908e3bfb822a22948089736d3bc23/lib/activerecord-multi-tenant/model_extensions.rb#L80

This exception is only raised by two points in the code. Not sure how that rspec code is causing these setter methods to be called

[2022-07-15 21:56] danielnc commented on #149
@serprex this is a matcher from [shoulda-matcher](https://github.com/thoughtbot/shoulda-matchers)

it's pretty common to use it in rails apps

Any suggestions on how to fix this issue?

[2022-07-16 10:18] serprex commented on #149
Sifting through their code I get the idea this matcher is trying to modify the partition key. That's incompatible with this library

You might be able to force things by using rspec to have `persisted?` or `#{partition_key}_changed?` return false, causing the throw to be skipped, but that might lead to other problems

[2022-07-17 12:40] danielnc commented on #149
@serprex thanks for the insights, ive started to use a non-persisted object instance instead of a persisted one for my setup, ill close the issue

[2022-07-17 12:40] #149 closed

[2022-08-17 01:20] mmontagna opened #151 "Multi-tenant produces incorrect where clauses when joining between a table with a custom partition_key and one without"
More details can be found https://github.com/citusdata/activerecord-multi-tenant/pull/150

[2022-08-18 19:11] #151 closed

[2022-09-29 13:52] PedroAugustoRamalhoDuarte opened #157 "How to adds a partition_key for a table that already exits"
Hello, I am trying to migrate my app to use CITUS. To start i am trying to update only County model that are linked to my tenant (Company):

[code]

[code]

This models already exits in my database, how i can add partition key do counties table and integrate to citus?

[2022-09-29 14:16] serprex commented on #157
Use `create_distributed_table` or `create_reference_table` *(I'm guessing counties should be a reference table)*

See https://github.com/citusdata/activerecord-multi-tenant/blob/master/lib/activerecord-multi-tenant/migrations.rb

[2022-09-29 14:24] PedroAugustoRamalhoDuarte commented on #157
Thanks i will try that

[2022-09-29 15:29] PedroAugustoRamalhoDuarte commented on #157
Thanks @serprex it works with companies table as reference_table:

[code]

[2022-09-29 15:29] #157 closed

[2022-10-17 14:59] shayonj commented on #77
I think a documentation could still be useful, since theres a few steps that needs to be performed. For instance

[code]

[2022-10-19 13:14] shayonj commented on #77
UPDATE: We also need to add

[code]

To sidekiq server config, to ensure that jobs that enqueue other jobs also get the `multi_tenant` object set. So the full config looks like this

[code]

I am happy to open a PR to document this somewhere. Or this comment can serve as documentation 👍🏾

[2022-10-25 01:54] yamazaki-sensei opened #160 "CollectionProxy.find raises error if block is given"
version: 2.1.1

`CollectionProxy.find` must be aliased to `CollectionProxy.to_a.find` as below.
https://github.com/rails/rails/blob/main/activerecord/lib/active_record/relation/finder_methods.rb#L67

However,  with activerecord-multi-tenant, `CollectionProxy.find` raises an error if block is given.
Below may be the cause.
https://github.com/citusdata/activerecord-multi-tenant/blob/e1d50b46ec035750

[2022-10-26 12:03] mintuhouse commented on #160
Fixed as part of #162. Closing the issue.

[2022-10-26 12:04] #160 closed

[2022-10-31 06:29] kehra opened #166 "After updating to 2.1.1 or later, getting an error."
We are using activerecord-multi-tenant with MySQL.
We have updated from 2.0.0 to 2.1.3 and now we get `ActiveRecord::StatementInvalid` error.

I think this is due to the change in #156 .

There is no `pg_extension` table in MySQL, so `ActiveRecord::Migration.citus_version` will always give an error.

As a result of `ActiveRecord::Migration.citus_version` being called by `ActiveRecord::SchemaDumper

[2022-10-31 23:36] kehra commented on #166
Thank you for your quick response.

OK.
We will keep version `2.0.0`.

[2022-11-03 06:12] mintuhouse commented on #166
@kehra  can you check if #167 fixes the issue for you?

[2022-11-03 06:26] kehra commented on #166
@mintuhouse
It seems to be no problem.
I appreciate your corrections!

[2022-11-03 14:36] #166 closed

[2022-11-03 14:40] serprex commented on #166
Fixed in 2.1.4

[2022-11-22 21:28] yangtheman opened #169 "undefined method `wrap_methods' for MultiTenant:Module (NoMethodError) Did you mean? methods"
I am using version `2.1.5` with Rails version `6.1.7`.

When I am trying to start up the server, I get the following error:

[code]

[2022-11-22 21:39] yangtheman commented on #169
FWIW, downgrading to `2.0.0` fixed the issue.

[2022-11-23 12:35] jainharsheet77 commented on #169
Facing the same issue. ( 2.1.5 with rails 6.1.7).
Pr for the fix [https://github.com/citusdata/activerecord-multi-tenant/pull/170](https://github.com/citusdata/activerecord-multi-tenant/pull/170)

[2022-11-23 13:04] #169 closed

[2022-11-25 03:17] saich-shopmatic opened #171 "MultiTenant Cache Issue"
After upgrade from Rails 4.2 to 5.2, I am facing issue with multi tenant cache issue.

https://discuss.rubyonrails.org/t/apartment-multi-tenant-gem-find-method-issue/81803/6

Whenever I tried to query with Tenant 2 - It is getting the result with previous tenant value on find method.

[2022-11-25 04:42] saich-shopmatic commented on #171
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/58685990/203902751-c202fe84-2226-4fc9-9a8d-bdc7e951973c.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/58685990/203902704-1a353d84-7a2f-4b9a-a14c-9d62046fdb4d.png">

Note: Insertion is working fine with current tenant_id but where as in select query we are getting current tenant_id as

[2022-11-30 14:04] DougEdey commented on #104
This is hitting us too, I personally like the second solution

[code]